﻿<%@ Page Title="WATER SOFTNER | Eco Green Technologies" Language="C#" MasterPageFile="~/General.Master" AutoEventWireup="true" CodeBehind="WATER-SOFTNER.aspx.cs" Inherits="EcoGreenWebsite.WATER_SOFTNER1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<!--content-->
		<div class="content">
			
			<div class="advantages-w3l">
				<div class="container">
				<h3 class="w3l_head w3l_head1">SOLAR PRODUCTS</h3>
					<div class="advantages-grids">
						<div class="col-md-6 advantages-grid">
							<div class="ser-img">
								<img class="img-responsive" src="images/Product/Solar4.jpg" alt=" "/>
							</div>
						</div>
						<div class="col-md-6 advantages-grid">
							<div class="care">
									<div class="left-grid">
										<p>#</p>
									</div>
									<div class="right-grid">
										<h4>ANNUAL MAITENANCE CONTRACT</h4>
										<p>A  professional service packages which covers  the Water & waste water equipments with the most trusted people from the Industry. The preventive maintenance concept is followed to deliver value to customer.
</p>
										<p>The Annual Maintenance Contract (AMC) takes care of preventive maintenance. The AMC ensures the longevity of Components, trouble-free operations and lower downtime. Services include scheduled inspection & scheduled maintenance of the Plant.


</p>
										<p>We offer full line of repair and maintenance services for STP/ETP and other water treatment equipment. Our services include performance audit, routine plant servicing (frequency as required by customer), membrane cleaning, replacement of faulty parts etc; in addition, we also provide renovation and expansion services for your existing water and wastewater treatment plants.


</p>
										
										
									</div>
										<div class="clearfix"></div>
							</div>
							<div class="care">
                            <%--<div class="left-grid">
										<p style="background:#FFF8F8;" ></p>
									</div>
									<div class="right-grid">
										<h4>Special Features:</h4>
										<p>Pre-Assembled, Factory Tested Systems, Compact, easy to Install, Operate and Maintain Stainless Steel vessels, SS Piping & Valves and SS 304 Skid for mounting units System requires only Water, Electrical and Drain supply and can be installed in a day. Multi-Port Control valve for easy operation of Filtration and Electrical Controls with all interlocks Well Packed - Resin media to provide good Filtered Water Quality. Various models available are as follows: These Softeners are available from 200 Mm Dia up to 2000 mm Dia in Stainless steel construction, while for higher Flow Rates, same is available on custom design basis. Water produced using these Softeners is used widely in Industry and Commercial Sector.</p>
									</div>
										<div class="clearfix"></div>							
								
							</div>--%>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			
		</div>
			</div>
		<!--content-->
</asp:Content>


