﻿<%@ Page Title="SEWAGE TREAMENT PLANT (STP) | Eco Green Technologies" Language="C#" MasterPageFile="~/General.Master" AutoEventWireup="true" CodeBehind="SEWAGE-TREAMENT-PLANT-(STP).aspx.cs" Inherits="EcoGreenWebsite.SEWAGE_TREAMENT_PLANT__STP_" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<!--content-->
		<div class="content">
			
			<div class="advantages-w3l">
				<div class="container">
				<h3 class="w3l_head w3l_head1">WASTE WATER MANAGEMENT SYSTEM</h3>
					<div class="advantages-grids">
						<div class="col-md-6 advantages-grid">
							<div class="ser-img">
								<img class="img-responsive" src="images/Product/Wastewater1.jpg" alt=" "/>
							</div>
						</div>
						<div class="col-md-6 advantages-grid">
							<div class="care">
									<div class="left-grid">
										<p>#</p>
									</div>
									<div class="right-grid">
										<h4>SEWAGE TREAMENT PLANT (STP)</h4>
										<p>Sewage treatment is the process of removing contaminants from municipal wastewater, containing mainly household sewage plus some industrial wastewater. Physical, chemical, and biological processes are used to remove contaminants and produce treated wastewater (or treated sewage) that is safe enough for release into the environment. A by-product of sewage treatment is a semi-solid waste or slurry, called sewage sludge. The sludge has to undergo further treatment before being suitable for disposal or application to land.
</p>
										<p>Sewage is generated by residential, institutional, commercial and industrial establishments. It includes household waste liquid from toilets, baths, showers, kitchens, and sinks draining into sewers. In many areas, sewage also includes liquid waste from industry and commerce. The separation and draining of household waste into greywater and blackwater is becoming more common in the developed world, with treated greywater being permitted for use for watering plants or recycled for flushing toilets.
</p>
										<p><B>Primary treatment</B> consists of temporarily holding the sewage in a quiescent basin where heavy solids can settle to the bottom while oil, grease and lighter solids float to the surface. The settled and floating materials are removed and the remaining liquid may be discharged or subjected to secondary treatment. 
</p>
										<p><B>Secondary treatment</B> removes dissolved and suspended biological matter. Secondary treatment is typically performed by indigenous, water-borne micro-organisms in a wetland, or it can be used for the irrigation of a golf course, greenway or park. If it is sufficiently clean, it can also be used for roundwater recharge or agricultural purposes.
</p>
									</div>
                                <div class="right-grid">
								
									</div>
										<div class="clearfix"></div>
							</div>
							<div class="care">
								
								
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			
		</div>		
		<!--content-->
</asp:Content>
