﻿<%@ Page Title="INDUSTRIAL R.O PLANT  - Eco Green Technologies | Quality Water Mangement Plants, Solar Products sales in Coimbatore, water treatment plant in chennai, water treatment plant design in coimbatore, 
water treatment plant manufacturers in coimbatore,
water treatment plant suppliers in coimbatore,
sewage treatment plants in coimbatore,
ro water treatment plant manufacturers in coimbatore,
ro water in coimbatore,
ro water plant in coimbatore,
ro system in coimbatore,
water softener manufacturers in coimbatore,
domestic water softener in coimbatore,
domestic water treatment manufacturers in coimbatore,
industrial ro plant manufacturer in coimbatore,
industrial water treatment suppliers in coimbatore,
effluent water treatment plant manufacturers in coimbatore,
mineral water plant manufacturers in coimbatore,
ultrafiltration water treatment plant manufacturers in coimbatore,
solar power plant in coimbatore,
solar panels manufacturesin coimbatore,
water softener dealers in coimbatore,
sewage treatment plant design in coimbatore,
water treatment construction in coimbatore,
water treatment plants construction dealers in coimbatore,
wastewater treatment plant manufacturers in coimbatore,
wastewater treatment plant in coimbatore,
wastewater treatment plant suppliers in coimbatore,
solar water heating system manufacturers in coimbatore,
solar water heater suppliers in coimbatore,
solar water heater in coimbatore,
solar products manufacturers in coimbatore,
environmental consultant in coimbatore"
    Language="C#" MasterPageFile="~/General.Master" AutoEventWireup="true" CodeBehind="INDUSTRIAL-RO-PLANT.aspx.cs" Inherits="EcoGreenWebsite.INDUSTRIAL_RO_PLANT" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <!--content-->
    <div class="content">

        <div class="advantages-w3l">
            <div class="container">
                <h3 class="w3l_head w3l_head1">WASTE WATER MANAGEMENT SYSTEM</h3>
                <div class="advantages-grids">
                    <div class="col-md-6 advantages-grid">
                        <div class="ser-img">
                            <img class="img-responsive" src="images/Product/Wastewater1.jpg" alt=" " />
                        </div>
                    </div>
                    <div class="col-md-6 advantages-grid">
                        <div class="care">
                            <div class="left-grid">
                                <p>#</p>
                            </div>
                            <div class="right-grid">
                                <h4>SEWAGE TREAMENT PLANT (STP)</h4>
                                <p>
                                    Sewage treatment is the process of removing contaminants from municipal wastewater, containing mainly household sewage plus some industrial wastewater. Physical, chemical, and biological processes are used to remove contaminants and produce treated wastewater (or treated sewage) that is safe enough for release into the environment. A by-product of sewage treatment is a semi-solid waste or slurry, called sewage sludge. The sludge has to undergo further treatment before being suitable for disposal or application to land.
                                </p>
                                <p>
                                    Sewage is generated by residential, institutional, commercial and industrial establishments. It includes household waste liquid from toilets, baths, showers, kitchens, and sinks draining into sewers. In many areas, sewage also includes liquid waste from industry and commerce. The separation and draining of household waste into greywater and blackwater is becoming more common in the developed world, with treated greywater being permitted for use for watering plants or recycled for flushing toilets.
                                </p>
                                <p>
                                    <b>Primary treatment</b> consists of temporarily holding the sewage in a quiescent basin where heavy solids can settle to the bottom while oil, grease and lighter solids float to the surface. The settled and floating materials are removed and the remaining liquid may be discharged or subjected to secondary treatment. 
                                </p>
                                <p>
                                    <b>Secondary treatment</b> removes dissolved and suspended biological matter. Secondary treatment is typically performed by indigenous, water-borne micro-organisms in a wetland, or it can be used for the irrigation of a golf course, greenway or park. If it is sufficiently clean, it can also be used for roundwater recharge or agricultural purposes.
                                </p>
                            </div>
                            <div class="right-grid">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="care">


                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="advantages-grids">
                    <div class="col-md-6 advantages-grid">
                        <div class="ser-img">
                            <img class="img-responsive" src="images/Product/Wastewater2.jpg" alt=" " />
                        </div>
                    </div>
                    <div class="col-md-6 advantages-grid">
                        <div class="care">
                            <div class="left-grid">
                                <p>#</p>
                            </div>
                            <div class="right-grid">
                                <h4>MBBR BASED SEWAGE TREAMENT PLANT</h4>
                                <p>
                                    The MBBR system consists of an aeration tank (similar to an activated sludge tank) with special plastic carriers that provide a surface where a biofilm can grow. The carriers are made of a material with a density close to the density of water. The carriers will be mixed in the tank by the aeration system and thus will have good contact between the substrate in the influent wastewater and the biomass on the carriers. To prevent the plastic carriers from escaping the aeration it is necessary to have a sieve on the outlet of the tank. To achieve higher concentration of biomass in the bioreactors, hybrid MBBR systems have also been used where suspended and attached biomass co-exist contributing both to biological processes. 
                                </p>
                                <p>
                                    Some other advantages compared to activated sludge systems are
                                </p>
                                <ul>
                                    <li>Higher effective sludge retention time (SRT) which is favorable for nitrification</li>
                                    <li>Responds to load fluctuations without operator intervention</li>
                                    <li>Lower sludge production</li>
                                    <li>Less area required</li>
                                    <li>Resilient to toxic shock</li>
                                    <li>Process performance independent of secondary clarifier (due to the fact that there is no sludge return line)</li>
                                </ul>
                            </div>
                            <div class="right-grid">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="care">


                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="advantages-grids">
                    <div class="col-md-6 advantages-grid">
                        <div class="ser-img">
                            <img class="img-responsive" src="images/Product/Wastewater3.jpg" alt=" " />
                        </div>
                    </div>
                    <div class="col-md-6 advantages-grid">
                        <div class="care">
                            <div class="left-grid">
                                <p>#</p>
                            </div>
                            <div class="right-grid">
                                <h4>SBR SEWAGE TREAMENT PLANT</h4>
                                <p>
                                    Sequencing batch reactors (SBR) or sequential batch reactors are a type of activated sludge process for the treatment of wastewater. SBR reactors treat wastewater such as sewage or output from anaerobic digesters or mechanical biological treatment facilities in batches. Oxygen is bubbled through the mixture of wastewater and activated sludge to reduce the organic matter (measured as biochemical oxygen demand (BOD) and chemical oxygen demand (COD)). The treated effluent may be suitable for discharge to surface waters or possibly for use on land.
                                </p>
                                <p>
                                    While there are several configurations of SBRs, the basic process is similar. The installation consists of one or more tanks that can be operated as plug flow or completely mixed reactors. The tanks have a “flow through” system, with raw wastewater (influent) coming in at one end and treated water (effluent) flowing out the other. In systems with multiple tanks, while one tank is in settle/decant mode the other is aerating and filling. In some systems, tanks contain a section known as the bio-selector, which consists of a series of walls or baffles which direct the flow either from side to side of the tank or under and over consecutive baffles. This helps to mix the incoming Influent and the returned activated sludge (RAS), beginning the biological digestion process before the liquor enters the main part of the tank
                                </p>

                            </div>
                            <div class="right-grid">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="care">


                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="advantages-grids">
                    <div class="col-md-6 advantages-grid">
                        <div class="ser-img">
                            <img class="img-responsive" src="images/Product/Wastewater4.jpg" alt=" " />
                        </div>
                    </div>
                    <div class="col-md-6 advantages-grid">
                        <div class="care">
                            <div class="left-grid">
                                <p>#</p>
                            </div>
                            <div class="right-grid">
                                <h4>MBR BASED SEWAGE TREAMENT PLANT</h4>
                                <p>
                                    Membrane bioreactor (MBR) is the combination of a membrane process like microfiltration or ultrafiltration with a biological wastewater treatment process, the activated sludge process. It is now widely used for municipal and industrial wastewater treatment.
                                </p>
                                <p>
                                    Advantages of MBR Systems:
                                </p>
                                <ul>
                                    <li>Less Area required.</li>
                                    <li>Less Power Consumption.</li>
                                    <li>PSF & ACF(Filters) are not required.</li>
                                    <li>Quality of treated water is high when compered to other method.</li>
                                    <li>High removal efficiency of BOD,COD and Nutrients. </li>
                                    <li>Lesser Sludge Generation.</li>
                                    <li>Fully Automatic System with PLC System.</li>
                                    <li>Plug and Play System (Easy Installation and Commissioning)</li>
                                </ul>
                            </div>
                            <div class="right-grid">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="care">


                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="advantages-grids">
                    <div class="col-md-6 advantages-grid">
                        <div class="ser-img">
                            <img class="img-responsive" src="images/Product/Wastewater5.jpg" alt=" " />
                        </div>
                    </div>
                    <div class="col-md-6 advantages-grid">
                        <div class="care">
                            <div class="left-grid">
                                <p>#</p>
                            </div>
                            <div class="right-grid">
                                <h4>EFFLUENT TREATMENT PLANT</h4>
                                <p>
                                    Effluent treatment plant cleans industrial effluents, contaminated water from rivers and lakes, and so on just in order to reuse the water for additional purposes. Along such lines, water is reutilized and sustained. In fact, such gushing treatment ensures that any contaminant will be expelled from the water making it reusable. It is mostly used in industries such as pharmaceuticals, textiles, tanneries, and chemicals where there is a chance of extreme water contamination. Nevertheless, how this treatment will be applied may vary from industry to industry.
                                </p>
                                <p>
                                    Industrial wastewater treatment describes the processes used for treating wastewater that is produced by industries as an undesirable by-product. After treatment, the treated industrial wastewater (or effluent) may be reused or released to a sanitary sewer or to a surface water in the environment.
                                </p>

                            </div>
                            <div class="right-grid">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="care">


                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="advantages-grids">
                    <div class="col-md-6 advantages-grid">
                        <div class="ser-img">
                            <img class="img-responsive" src="images/Product/Wastewater6.jpg" alt=" " />
                        </div>
                    </div>
                    <div class="col-md-6 advantages-grid">
                        <div class="care">
                            <div class="left-grid">
                                <p>#</p>
                            </div>
                            <div class="right-grid">
                                <h4>ULTRAFILTATION (UF)</h4>
                                <p>
                                    Ultrafiltration (UF) is a variety of membrane filtration in which forces like pressure or concentration gradients lead to a separation through a semipermeable membrane. Suspended solids and solutes of high molecular weight are retained in the so-called retentate, while water and low molecular weight solutes pass through the membrane in the permeate (filtrate). This separation process is used in industry and research for purifying and concentrating macromolecular (103 - 106 Da) solutions, especially protein solutions.

                                </p>
                                <p>
                                    Ultrafiltration is not fundamentally different from microfiltration. Both of these separate based on size exclusion or particle capture. It is fundamentally different from membrane gas separation, which separate based on different amounts of absorption and different rates of diffusion. Ultrafiltration membranes are defined by the molecular weight cut-off (MWCO) of the membrane used. Ultrafiltration is applied in cross-flow or dead-end mode.
                                </p>
                                <p>
                                    Industries such as chemical and pharmaceutical manufacturing, food and beverage processing, and waste water treatment, employ ultrafiltration in order to recycle flow or add value to later products. Blood dialysis also utilizes ultrafiltration.
                                </p>
                                <p>
                                    Ultrafiltration can be used for the removal of particulates and macromolecules from raw water to produce potable water. It has been used to either replace existing secondary (coagulation, flocculation, sedimentation) and tertiary filtration (sand filtration and chlorination) systems employed in water treatment plants or as standalone systems in isolated regions with growing populations. When treating water with high suspended solids, UF is often integrated into the process, utilising primary (screening, flotation, and filtration) and some secondary treatments as pre-treatment stages
                                </p>


                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="advantages-grids">
                    <div class="col-md-6 advantages-grid">
                        <div class="ser-img">
                            <img class="img-responsive" src="images/Product/Wastewater7.jpg" alt=" " />
                        </div>
                    </div>
                    <div class="col-md-6 advantages-grid">
                        <div class="care">
                            <div class="left-grid">
                                <p>#</p>
                            </div>
                            <div class="right-grid">
                                <h4>PRE FABRICATED SYSTEMS</h4>
                                <p>
                                    ECO GREEN is a leading Prefabricated Sewage Treatment Plant Manufacturer in South India. Packaged Treatment plants(STP/ETP) are used for area like individual bungalows, low rise apartments, restaurants, offices, small factories, malls, hospitals, office building, institutions, townships/colonies etc. We are supplier of Prefabricated STP Plant which is compact, effective and economical for wastewater treatment in decentralized manner.
                                </p>

                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="care">
                            <%--<div class="left-grid">
										<p style="background:#FFF8F8;" ></p>
									</div>
									<div class="right-grid">
										<h4>Special Features:</h4>
										<p>Pre-Assembled, Factory Tested Systems, Compact, easy to Install, Operate and Maintain Stainless Steel vessels, SS Piping & Valves and SS 304 Skid for mounting units System requires only Water, Electrical and Drain supply and can be installed in a day. Multi-Port Control valve for easy operation of Filtration and Electrical Controls with all interlocks Well Packed - Resin media to provide good Filtered Water Quality. Various models available are as follows: These Softeners are available from 200 Mm Dia up to 2000 mm Dia in Stainless steel construction, while for higher Flow Rates, same is available on custom design basis. Water produced using these Softeners is used widely in Industry and Commercial Sector.</p>
									</div>
										<div class="clearfix"></div>							
								
							</div>--%>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!--content-->
</asp:Content>
