﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="EcoGreenWebsite.Default" %>


<!DOCTYPE html>
<html lang="en">
<head>
<title>Eco Green Technologies | Home </title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property="" />
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!-- font-awesome-icons -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome-icons -->
<link href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700&amp;subset=latin-ext" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- banner -->
	<div class="banner">
		<div class="container">
			<div class="header">
				<div class="w3_agile_logo">
					<h1><a href="index.html">Eco-Green</a></h1>
				</div>
				<div class="w3_agileits_social_media">
					<ul>
						<li class="agileinfo_share">View On</li>
						<li><a href="#" class="wthree_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#" class="wthree_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#" class="wthree_dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
						<li><a href="#" class="wthree_behance"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="ban-top">
				<div class="top_nav_left">
					<nav class="navbar navbar-default">
					  <div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
						  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						  </button>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="navbar-collapse menu--shylock collapse" id="bs-example-navbar-collapse-1" style="height: 0px;">
						  <ul class="nav navbar-nav menu__list">
							<li class="active menu__item menu__item--current"><a class="menu__link" href="index.html">Home <span class="sr-only">(current)</span></a></li>
							<li class=" menu__item"><a class="menu__link" href="about.html">About</a></li>
							<li class=" menu__item"><a class="menu__link" href="gallery.html">Gallery</a></li>
							<li class=" menu__item"><a class="menu__link" href="services.html">Services</a></li>
							<li class="dropdown" class=" menu__item">
								<a href="#" class="menu__link" class="dropdown-toggle" data-toggle="dropdown">Products<b class="caret"></b></a>
								<ul class="dropdown-menu agile_short_dropdown">
									<li><a href="icons.html">Product 1</a></li>
									<li><a href="typography.html">Product 2</a></li>
								</ul>
							</li>
							<li class=" menu__item"><a class="menu__link" href="contact.html">contact</a></li>
						  </ul>
						</div>
					  </div>
					</nav>	
				</div>
			</div>
			
			
			<section class="slider">
					<div class="flexslider">
						<ul class="slides">
							<li>
								<div class="agile_banner_info">
									<h3>Solar Panel</h3>
									<div class="agileits_w3layouts_more">
										<a href="#" data-toggle="modal" data-target="#myModal">Get More</a>
									</div>
								</div>
							</li>
							<li>
								<div class="agile_banner_info">
									<h3>RO Water</h3>
									<div class="agileits_w3layouts_more">
										<a href="#" data-toggle="modal" data-target="#myModal">Get More</a>
									</div>
								</div>
							</li>
							<li>
								<div class="agile_banner_info">
									<h3>Renewable Energy</h3>
									<div class="agileits_w3layouts_more">
										<a href="#" data-toggle="modal" data-target="#myModal">Get More</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</section>
			<!-- flexSlider -->
				<script defer src="js/jquery.flexslider.js"></script>
				<script type="text/javascript">
				    $(window).load(function () {
				        $('.flexslider').flexslider({
				            animation: "slide",
				            start: function (slider) {
				                $('body').removeClass('loading');
				            }
				        });
				    });
				</script>
			<!-- //flexSlider -->
			<div class="w3l-ban">
				<h2>An ISO 9001:2008 Certified</h2>
			</div>
		</div>
	</div>
<!-- //banner -->
<!-- bootstrap-pop-up -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					An ISO 9001:2008 Certified Company
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div>
				<section>
					<div class="modal-body">
						<div class="col-md-6 w3_modal_body_left">
							<img src="images/g1.jpg" alt=" " class="img-responsive" />
						</div>
						<div class="col-md-6 w3_modal_body_right">
							<h4>Eco Green Technologies</h4>
							<p>As one of the world’s leading suppliers of water and wastewater treatment plant design, construction and operational management, and also engaged in the manufacture of solar water heating system, solar power system and lighting system. We offer sustainable solutions that can serve as the economic basis for a region and provide enhanced quality of life for the local population.
							<i>"Make use of Renewable Energy"</i>
								</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</section>
			</div>
		</div>
	</div>
<!-- //bootstrap-pop-up -->
<!-- become -->
	<div class="become-agile">
		<div class="container">
			<div class="col-md-6 become-agile-left">
				<img src="images/g1.jpg" alt="" class="img-responsive">
			</div>
			<div class="col-md-6 become-agile-right">
				<h3>Eco Green Technologies</h3>
				<p>As one of the world’s leading suppliers of water and wastewater treatment plant design, construction and operational management, and also engaged in the manufacture of solar water heating system, solar power system and lighting system. We offer sustainable solutions that can serve as the economic basis for a region and provide enhanced quality of life for the local population.

We have with us highly Qualified and Trained Engineers, and other professional in the field of marketing who are committed to Excellence in Quality and Customer satisfaction.</p>
				<div class="agileits_w3layouts_more">
					<a href="#" data-toggle="modal" data-target="#myModal">Get More</a>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //become -->
<!-- insights -->
	<!-- <div class="insights">
		<div class="container">
			<h3>consequatur voluptate</h3>
			<div class="col-md-8 insights-wthree-left">
				<div class="wthree-left_info">
					<h5>Maecenas tempus nulla</h5>
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				</div>
			</div>
			<div class="col-md-4 insights-wthree-right">
				<h4> Corporis Suscipit</h4>
				<ul class="insi">
					<li>ullam corporis suscipit laboriosam, 
							nisi ut aliquid ex ea commodi</li>
					<li>laboriosam, corporis suscipit  
							nisi ut aliquid ex ea commodi</li>
					<li>suscipit corporis laboriosam, 
							nisi ut aliquid ex ea commodi</li>
					<li>corporis suscipit laboriosam, 
							nisi ut aliquid ex ea commodi</li>
				</ul>
			</div>
				<div class="clearfix"> </div>
			<div class="insights-bottom">
				<div class="col-md-4 insights-bottom-left">
					<img src="images/g2.jpg" alt="" class="img-responsive">
					<p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here</p>
				</div>
				<div class="col-md-4 insights-bottom-middle">
					<img src="images/g3.jpg" alt="" class="img-responsive">
					<p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here</p>
				</div>
				<div class="col-md-4 insights-bottom-right">
					<img src="images/g4.jpg" alt="" class="img-responsive">
					<p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here</p>
				</div>
					<div class="clearfix"> </div>
			</div>
		</div>
	</div>-->
<!-- //insights -->
<!-- agile -->
	<div class="agile">
		<div class="container">
			<div class="agile_right">
				<div class="col-md-4 list-left text-center wow fadeInLeft animated animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
					<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
					<h4>Quality Products</h4>
					<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
					sed quia consequuntur magni dolores eos qui</p>
				</div>
				<div class="col-md-4 list-left text-center wow fadeInUp animated animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
					<span class="glyphicon glyphicon-oil" aria-hidden="true"></span>
					<h4>Awarded Support</h4>
					<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
						sed quia consequuntur magni dolores eos qui</p>
				</div>
				<div class="col-md-4 list-left text-center wow fadeInRight animated animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
					<span class="glyphicon glyphicon-compressed" aria-hidden="true"></span>
					<h4>Easy Maintenance</h4>
					<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
						sed quia consequuntur magni dolores eos qui</p>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
<!-- //agile -->
<!-- features -->
	<div class="features">
		<div class="container">
			<h3>Products</h3>
				<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
					<ul id="myTab" class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Water Treatment</a></li>
						<li role="presentation"><a href="#Feature1" role="tab" id="Feature1-tab" data-toggle="tab" aria-controls="Feature1">Solar Products</a></li>
						<!-- <li role="presentation"><a href="#Feature2" role="tab" id="Feature2-tab" data-toggle="tab" aria-controls="Feature2">Feature-3</a></li>
						<li role="presentation"><a href="#Feature3" role="tab" id="Feature3-tab" data-toggle="tab" aria-controls="Feature3">Feature-4</a></li> -->
					</ul>
					<div id="myTabContent" class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
							<div class="w3agile_tabs">
								<div class="col-md-7 w3agile_tab_left">
									<h4>Water Treatment</h4>
									<p>Nunc faucibus lorem a arcu gravida, eget auctor eros 
										ultrices. Vestibulum non erat ut odio euismod accumsan. 
										Phasellus libero tellus, pulvinar vitae sem sit amet, 
										faucibus consectetur neque.</p>
									<ul>
										<li><i class="fa fa-arrow-right" aria-hidden="true"></i>Domestic R.O</li>
										<li><i class="fa fa-arrow-right" aria-hidden="true"></i>Industrial R.O</li>
										<li><i class="fa fa-arrow-right" aria-hidden="true"></i>Water Softner</li>
										<li><i class="fa fa-arrow-right" aria-hidden="true"></i>Domestic R.O</li>
										<li><i class="fa fa-arrow-right" aria-hidden="true"></i>Industrial R.O</li>
									</ul>
								</div>
								<div class="col-md-5 w3agile_tab_right w3agile_tab_right1">
									<img src="images/g1.jpg" alt=" " class="img-responsive" />
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="Feature1" aria-labelledby="Feature1-tab">
							<div class="w3agile_tabs">
								<div class="col-md-5 w3agile_tab_right w3agile_tab_right2">
									<img src="images/g2.jpg" alt=" " class="img-responsive" />
								</div>
								<div class="col-md-7 w3agile_tab_left">
									<h4>Solar Products</h4>
									<p>Nunc faucibus lorem a arcu gravida, eget auctor eros 
										ultrices. Vestibulum non erat ut odio euismod accumsan. 
										Phasellus libero tellus, pulvinar vitae sem sit amet, 
										faucibus consectetur neque.</p>
									<ul>
										<li><i class="fa fa-arrow-right" aria-hidden="true"></i>Solar Water Heater</li>
										<li><i class="fa fa-arrow-right" aria-hidden="true"></i>Solar Street Light</li>
										<li><i class="fa fa-arrow-right" aria-hidden="true"></i>Solar Power Plant</li>
										<!-- <li><i class="fa fa-arrow-right" aria-hidden="true"></i>Phasellus libero tellus sem</li>
										<li><i class="fa fa-arrow-right" aria-hidden="true"></i>Gravida eget auctor eros</li> -->
									</ul>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<!-- <div role="tabpanel" class="tab-pane fade" id="Feature2" aria-labelledby="Feature2-tab">
							<div class="w3agile_tabs">
								<div class="col-md-7 w3agile_tab_left">
									<h4>faucibus consectetur neque sollicitudin</h4>
									<p>Nunc faucibus lorem a arcu gravida, eget auctor eros 
										ultrices. Vestibulum non erat ut odio euismod accumsan. 
										Phasellus libero tellus, pulvinar vitae sem sit amet, 
										faucibus consectetur neque.</p>
									<ul>
										<li><i class="fa fa-arrow-right" aria-hidden="true"></i>Faucibus consectetur neque</li>
										<li><i class="fa fa-arrow-right" aria-hidden="true"></i>Erat odio euismod accumsan</li>
										<li><i class="fa fa-arrow-right" aria-hidden="true"></i>Sapien nec interdum euismod</li>
										<li><i class="fa fa-arrow-right" aria-hidden="true"></i>Phasellus libero tellus sem</li>
										<li><i class="fa fa-arrow-right" aria-hidden="true"></i>Gravida eget auctor eros</li>
									</ul>
								</div>
								<div class="col-md-5 w3agile_tab_right w3agile_tab_right1">
									<img src="images/g3.jpg" alt=" " class="img-responsive" />
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="Feature3" aria-labelledby="Feature3-tab">
							<div class="w3agile_tabs">
								<div class="col-md-5 w3agile_tab_right w3agile_tab_right2">
									<img src="images/g4.jpg" alt=" " class="img-responsive" />
								</div>
								<div class="col-md-7 w3agile_tab_left">
									<h4>gravida eget auctor eros libero tellus</h4>
									<p>Nunc faucibus lorem a arcu gravida, eget auctor eros 
										ultrices. Vestibulum non erat ut odio euismod accumsan. 
										Phasellus libero tellus, pulvinar vitae sem sit amet, 
										faucibus consectetur neque.</p>
									<ul>
										<li><i class="fa fa-arrow-right" aria-hidden="true"></i>Faucibus consectetur neque</li>
										<li><i class="fa fa-arrow-right" aria-hidden="true"></i>Erat odio euismod accumsan</li>
										<li><i class="fa fa-arrow-right" aria-hidden="true"></i>Sapien nec interdum euismod</li>
										<li><i class="fa fa-arrow-right" aria-hidden="true"></i>Phasellus libero tellus sem</li>
										<li><i class="fa fa-arrow-right" aria-hidden="true"></i>Gravida eget auctor eros</li>
									</ul>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div> -->
					</div>
				</div>
		</div>
	</div>
<!-- //features -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="col-md-4 agileinfo_footer_grid">
				<h3>Ping Us</h3>
				<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<form action="#" method="post">
					<input type="email" name="Email" placeholder="Email" required="">
					<input type="submit" value="Send">
				</form>
			</div>
			<div class="col-md-4 agileinfo_footer_grid">
				<h3>Twitter Posts</h3>
				<ul class="w3agile_footer_grid_list">
					<li>Ut aut reiciendis  <a href="#">http://lkj.ewr.com</a> alias, ut aut reiciendis.
						<span><i class="fa fa-twitter" aria-hidden="true"></i>02 days ago</span></li>
					<li>Itaque earum rerum <a href="#">http://uiubajaj.com</a> ut aut
						voluptatibus.<span><i class="fa fa-twitter" aria-hidden="true"></i>03 days ago</span></li>
				</ul>
			</div>
			<div class="col-md-4 agileinfo_footer_grid">
				<h3>About Us</h3>
				<p>Eco-Green Technologies, .....</p>
			</div>
		</div>
	</div>
<!-- //footer -->
<!-- copy-right -->
	<div class="w3agile_copy_right">
		<div class="container">
			<p>© 2018 Eco Green Technologies. All Rights Reserved | Design by <a href="http://drizzlingapp.com/" target="_blank">Drizzling App</a></p>
		</div>
	</div>
<!-- //copy-right -->
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
</body>
</html>