
html, body{
    font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	background:#ffffff;
	margin: 0;
}
p,ul li,ol li{
	margin:0;
	font-size:14px;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
input[type="submit"],input[type="reset"],a,.w3ls_team_grid1_pos ul li{
	-webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition:0.5s ease-in;
}
/*-- banner --*/
.banner,.banner1{
	padding:2em 0 0;
}
.banner{
	background:url(../images/img/b1.jpg) no-repeat 0px 0px; /* ../images/111.jpg) no-repeat 0px 0px; */
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:770px;
	position:relative;
}
.banner1{
	background:url(../images/img/b8.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:300px;
}
.w3_agile_logo{
	float:left;
}
.w3_agile_logo h1 a{
	font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.w3_agile_logo h1 a span{
	display: block;
    font-size: .3em;
    border-top: 1px solid;
    border-bottom: 1px solid;
    width: 50%;
    color: #95f347;
}
.agile_banner_info{
	width:70%;
	margin:8em 0 0em;
}
.agile_banner_info h3 {
    font-size: 54PX;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 68px;
    letter-spacing: 3px;
    margin-bottom: 30px;
}
.agileits_w3layouts_more{
	position:relative;
}
.agileits_w3layouts_more a {
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
    border-radius: 50px;
    background: #7542aa;
    padding: 12px 25px;
}
.agileits_w3layouts_more a:focus{
	outline:none;
}
.agileits_w3layouts_more a:hover{
	background:#f01140;
}
.w3_agileits_social_media{
	float:right;
	margin: 1em 0 0;
}
.w3_agileits_social_media ul li{
	display: inline-block;
    font-weight: 600;
    margin: 0 1em;
}
.w3_agileits_social_media ul li a{
	display:block;
	color:#fff;
	text-decoration:none;
}
.agileinfo_share{
    margin-right: 1em !important;
	color:#fff;
}
.w3_agileits_social_media ul li a.wthree_facebook:hover{
	color:#3b5998;
}
.w3_agileits_social_media ul li a.wthree_twitter:hover{
	color:#1da1f2;
}
.w3_agileits_social_media ul li a.wthree_dribbble:hover{
	color:#ea4c89;
}
.w3_agileits_social_media ul li a.wthree_behance:hover{
	color:#1769ff;
}
/*-- //banner --*/
.become-agile-right {
    padding: 2em;
}
/*-- bootstrap-pop-up --*/
.modal-header {
    font-size: 2em;
    color: #fff;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    text-transform: uppercase;
    background: #f01140;
    border-bottom: none;
    letter-spacing: 10px;
}
.close {
    opacity: 1;
}
.w3_modal_body_right h4{
	text-transform: uppercase;
    font-size: 1.5em;
    color: #212121;
    line-height: 1.5em;
    margin: 1em 0 1em;
    letter-spacing: 5px;
}
.modal-body p {
    color: #999;
    margin: 0 !important;
    line-height: 2em;
}
.modal-body p i {
    display: block;
    margin: 1.5em 0;
    color: #212121;
    font-weight: 600;
}
.modal-body {
    padding:0;
}
.modal-content {
    border-radius: 0;
}
button.close {
    font-size: 1em;
    color:#2f6105;
	outline: none;
}
.modal-dialog {
    width: 845px;
}
.w3_modal_body_left {
    padding-left: 0;
}
/*-- //bootstrap-pop-up --*/
/*-- nav-bar --*/
.navbar-default {
    background: none;
    border: none;
    min-height: inherit;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: none;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background: none;
}
.navbar-nav > li {
    margin: 0 36px 0 0;
}
.navbar-nav > li > a {
    padding: 12px 2px 12px 0;
}
.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
.navbar-nav > li > a {
    line-height: inherit;
}
.dropdown-menu > li > a {
    color: #fff !important;
    text-align: left;
    width: 100%;
    font-size: 14px;
}
.dropdown-menu {
    background-color: rgba(240, 17, 64, 0.69) ! important;
}
ul.dropdown-menu {
    left: -75px;
}
ul.dropdown-menu {
    background: rgba(0, 0, 0, 0.24);
    box-shadow: 0 0 0;
    border: none;
    margin: 0;
    top: 4em;
    /*right: 27px ! important;*/
    min-width:250px;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: rgba(240, 17, 64, 0.69) ! important;
    color: #fff ! important;
}
.header-bot {
    padding: 1em 0;
}
/*-- //nav-bar --*/
/* Common styles for all menus */
.top_nav_right {
    float: right;
    background: #969609;
    width: 35%;
    padding: 16px 0 16px 24px;
}
.menu__list {
	position: relative;
	display: -webkit-flex;
	display: block; /* flex; */
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu__item {
	display: block;
	margin: 0em 0;
}
.menu__link {
	font-size: 1.05em;
	font-weight: bold;
	display: block;
	padding: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.menu__link:hover,
.menu__link:focus {
	outline: none;
}
/* Individual styles */
.menu--shylock .menu__link {
	position: relative;
    margin: 0;
	color: dodgerblue !important; /* #b5b5b5; */
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
}
.menu--shylock .menu__item--current .menu__link,
.menu--shylock .menu__item--current .menu__link:hover,
.menu--shylock .menu__item--current .menu__link:focus {
	color: #f01140;
}
.menu--shylock .menu__item--current .menu__link::after,
.menu--shylock .menu__item--current .menu__link::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}
.menu--shylock .menu__item--current .menu__link::before {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
.menu--shylock .menu__link:hover,
.menu--shylock .menu__link:focus {
	color: #b5b5b5;
}
.menu--shylock .menu__link:hover::before,
.menu--shylock .menu__link:focus::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
.menu--shylock .menu__link::before,
.menu--shylock .menu__link::after {
	content: '';
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 3px;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
	-webkit-transform-origin: center left;
	transform-origin: center left;
	-webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
	transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.menu--shylock .menu__link::before {
	background: #f01140;
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}
.menu--shylock .menu__link::after {
	background: #f01140;
}
a.menu__link {
    color: Blue; /* #fff !important; */
    font-size: 15px;
    font-weight: 700; /* normal;*/
    text-transform: uppercase;
}
.ban-top {
    margin-top: 50px;
}
.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.w3l-ban h2 {
    color: #fff;
    font-size: 37px;
    line-height: 42px;
}
.w3l-ban {
    background: #f01140;
    float: right;
    padding: 30px;
    width: 15%;
}
/*-- //left nav --*/
/*-- become --*/
.become-agile {
    padding: 5em 0;
}
.become-agile h3 {
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #f01140;
}
.become-agile p {
    font-size: 15px;
    line-height: 28px;
    margin: 20px 0;
    color: #777;
    text-align:justify;
}
/*-- //become --*/
/*-- insights --*/
.insights-wthree-left {
    background: url(../images/111.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 400px;
}
.insights h3 {
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 600;
    color: #f01140;
    margin-bottom: 50px;
    text-align: center;
	letter-spacing: 2px;
}
.insights {
    padding: 5em 0;
    background: #f1f1f1;
}
.insights h4 {
    font-size: 30px;
    color: #7542aa;
    font-weight: 600;
	letter-spacing: 2px;
}
ul.insi li {
    display: block;
    line-height: 26px;
    font-size: 15px;
    border-bottom: 1px solid #dad1d1;
    padding: 14.5px 0;
}
.insights-wthree-right {
    background: #fff;
    padding: 20px 30px;
}
.insights-bottom {
    background: #fff;
	padding:20px 0;
}
.insights-bottom p {
    font-size: 15px;
    color: #777;
    line-height: 26px;
    margin: 20px 0 0;
}
.wthree-left_info {
    padding: 5em 5em;
	text-align:left;
}
.wthree-left_info h5 {
    font-size: 35px;
    color: #fff;
	letter-spacing: 2px;
}
.wthree-left_info p {
    font-size: 15px;
    color: #fff;
	margin:20px 0;
	line-height:26px;
}
/*-- //insights --*/
.agile{
    background: url(../images/img/b7.jpg) center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
	padding:100px 0 ;
}
.agile_left h3 {
    color: #00A4E4;
    font-size: 32px;
}
.agile_left p.ser-para {
	line-height:2.2em;
	color:#fff;
	font-size:14px;
    margin: 27px 0 35px;
}
.ser-bottom {
    margin-top: 40px;
}
.ser-bottom h5 {
    color: #BBB;
    line-height: 2em;
    font-style: italic;
}
.ser-bottom p {
    color: #fff;
    margin-top: 20px;
    font-size: 20px;
}
.list-left span {
    color: #ffffff;
    font-size: 25px;
    padding: 20px 20px;
    background: rgb(240, 17, 64);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
}
.list-left:hover.list-left span {
    color: #fff;
   background: rgba(255, 255, 255, 0.31);
	border-radius:0%;
    -webkit-border-radius:0%;
    -o-border-radius:0%;
    -ms-border-radius:0%;
    -moz-border-radius:0%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.list-left h4 {
    color: #ffffff;
    font-size: 30px;
    margin: 20px 0;
	letter-spacing: 2px;
}
.list-left p {
    color: #fff;
    line-height: 2.2em;
    font-size: 14px;
}
.no_marg{
	margin-top:40px;
}
/*-- features --*/
.bs-example{
	margin:3em 0 0;
}
.nav-tabs > li > a {
    margin-right: 15px;
    border-radius: 0;
    color: #212121;
    text-transform: uppercase;
}
.nav-tabs > li {
    float: none;
    display: inline-block;
}
.nav-tabs {
    width: 45%;
    margin: 0 auto;
	border-bottom: 1px solid #7542aa;
}
.nav-tabs > li > a:hover {
    border-color: #7542aa;
	border-bottom: 1px solid #fff;
}
.nav > li > a:hover, .nav > li > a:focus {
    background: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 1px solid #7542aa;
	border-bottom: 1px solid #ffffff;
}
.w3agile_tab_left h4 {
    font-size: 26px;
    color: #7542aa;
    font-weight: 600;
    line-height: 1.5em;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.w3agile_tab_left p{
	color:#999;
	line-height:2em;
	font-style:italic;
	margin:1em 0 2em;
	text-align:justify;
}
.w3agile_tab_left ul li{
	margin-bottom: 1.5em;
    color: #212121;
    list-style-type: none;
    text-transform: capitalize;
}
.w3agile_tab_left ul li:last-child{
	margin-bottom:0em;
}
.w3agile_tabs {
    margin: 3em 0 0;
}
.w3agile_tab_right1 {
    margin: 2em 0 0;
}
.features h3 {
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 600;
    color: #f01140;
    margin-bottom: 50px;
    text-align: center;
    letter-spacing: 2px;
}
.features {
    padding: 5em 0;
}
i.fa.fa-arrow-right {
    color: #f01140;
    margin-right: 16px;
}
/*-- //features --*/
/*-- footer --*/
.footer{
	padding:4em 0;
	background:#212121;
}
.agileinfo_footer_grid h3{
	font-size:1.7em;
	color:#fff;
	margin-bottom:1.5em;
	padding-left: 0em;
	letter-spacing:2px;
}
.agileinfo_footer_grid p{
	color:#999;
	line-height:2em;
}
ul.w3agile_footer_grid_list li {
    list-style-type: none;
    color: #999;
    line-height: 1.9em;
    margin-bottom: 1em;
	font-size:14px;
}
ul.w3agile_footer_grid_list li:last-child {
    margin-bottom: 0;
}
ul.w3agile_footer_grid_list li a{
	color:#f01140;
	text-decoration:none;
}
ul.w3agile_footer_grid_list li a:hover{
	color:#fff;
}
ul.w3agile_footer_grid_list li span {
    display: block;
    margin: 0em 0 0;
    padding-left:0em;
}
.agileinfo_footer_grid form{
	margin:1em 0 0;
}
.agileinfo_footer_grid input[type="email"]{
	outline:none;
	padding:10px;
	width:73%;
	background:#fff;
	border:none;
	font-size:14px;
	color:#212121;
}
ul.w3agile_footer_grid_list i.fa.fa-twitter {
    color: #1da1f2;
	padding-right:20px;
}
.agileinfo_footer_grid input[type="email"]::-webkit-input-placeholder{
	color:#212121;
}
.agileinfo_footer_grid input[type="submit"]{
	outline: none;
    padding: 10px 0;
    width: 25%;
    background:#7542aa;
    border: none;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
}
.agileinfo_footer_grid input[type="submit"]:hover{
	background:#f01140;
	color:#fff;
}
.w3agile_copy_right{
	padding:1.5em 0;
	background:#363636;
	text-align:center;
}
.w3agile_copy_right p{
	color:#fff;
	line-height:1.8em;
}
.w3agile_copy_right p a{
	text-decoration:none;
	color:#f01140;
}
.w3agile_copy_right p a:hover{
	color:#fff;
}
/*-- //footer --*/
/*-- mail --*/
.w3_map iframe {
    width: 100%;
    min-height: 400px;
}
.agile_mail_grids {
    margin: 3em 0;
}
.agile_mail_grid{
    width: 75%;
    margin: 0 auto;
}
.agile_mail_grid_left input[type="text"], .agile_mail_grid_left input[type="email"], .agile_mail_grid textarea {
    outline: none;
    border: 1px solid #E4E4E4;
    background: #f5f5f5;
    padding: 10px 20px;
    width: 100%;
    font-size: 14px;
    color: #212121;
    border-radius: 25px;
}
.agile_mail_grid textarea {
    margin: 0 1em;
    min-height: 250px;
    width: 96.5% !important;
	resize:none;
}
.agile_mail_grid input[type="submit"] {
	outline: none;
    border: none;
    background: #7542aa;
    padding: 10px 0;
    width: 35%;
    font-size: 1em;
    color: #fff;
    margin: 1em 0 0 16em;
    text-align: center;
	border-radius: 25px;
}
.agile_mail_grid input[type="submit"]:hover{
	background:#f01140;
}
.agile_mail_grid_left input[type="text"]:nth-child(2) {
    margin: 2em 0;
}
.mail_grid1_left1{
    padding: 2em;
    background: #f5f5f5;
    text-align: center;
}
.mail_grid1_left1 span {
    font-size: 1.5em;
    color: #7542aa;
    padding: .5em;
    border: 1px solid;
    border-radius: 30px;
}
.mail_grid1_left1 h4 {
    font-size: 1.3em;
    color: #f01140;
    margin: 1em 0 .5em;
    font-weight: 600;
    letter-spacing: 2px;
}
.mail_grid1_left1 p {
    color: #999;
    line-height: 2em;
    margin-bottom: 2em;
}
.mail_grid1_left1 ul li {
    list-style-type: none;
    margin-bottom: 1em;
    color: black; /* #999;*/
}
.mail_grid1_left1 ul li:last-child {
    margin-bottom: 0;
}
.mail_grid1_left1 ul li a {
    color:#212121;
    text-decoration: none;
}
.mail_grid1_left1 ul li a:hover {
    color:#999;
}
/*-- //mail --*/
.mail {
    padding: 5em 0;
}
.w3l_head {
    font-size: 40px;
    text-align: center;
    margin-bottom: 0px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #f01140;
}
/*-- services --*/
.feature-grids {
    margin-top: 4em;
	text-align:center;
}
.feature-grid i {
    height: 90px;
    width: 90px;
    margin: 3px;
    font-size: 2em;
    border-radius: 100%;
    line-height: 90px;
    text-align: center;
    background: #7542aa;
    color: #fff;
    border: 3px solid #ffffff;
    box-shadow: inset 0 0 0 5px #f2f2f2;
    -webkit-box-shadow: inset 0 0 0 5px #f2f2f2;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}
.feature-w3l {
    padding: 5em 0;
}
.feature-grid:hover h4 {
    color: #7542aa;
}
.feature-grid h4 {
    font-size: 23px;
	margin-top: 0.5em;
	letter-spacing:2px;
	color: #f01140;
	font-weight: 600;
}
.feature-grid p {
    font-size: 15px;
    line-height: 1.8em;
    color: #777;
}
.feature-grid span {
    width: 15%;
    display: block;
    background: #7542aa;
    height: 2px;
    margin: 1.3em auto;
	-webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
}
.feature-grid:hover span {
    width: 35%;
	background: #f01140;
}
.feature-grid:hover div.icons i {
    background: #f01140;
}
.left-grid {
    float: left;
    width: 14%;
    margin-right: 2%;
}
.advantages-grid h4 {
    font-size: 25px;
    color: #f01140;
    letter-spacing: 2px;
    font-weight: 600;
}
.left-grid p {
    color: #fff;
    background: #7542aa;
    width: 60px;
    height: 60px;
    font-size: 1.5em;
    margin: 0;
    border-radius: 5%;
    text-align: center;
    padding-top: 11px;
}
.right-grid {
    float: left;
    width: 84%;
}
.care:nth-child(2) {
    margin: 3em 0;
}
.right-grid p {
    font-size: 15px;
    padding: .5em 0 0;
    line-height: 1.8em;
    color: #777;
    text-align:justify;
}
.ser-grid p {
    font-size: 15px;
    line-height: 1.8em;
}
.ser-grid ul li {
    font-size: 15px;
    line-height: 2.5em;
    list-style: none;
    color: #777;
    padding-bottom: .5em;
}
.ser-grid ul li i {
    font-size: 1.2em;
    margin-right: 8px;
    vertical-align: middle;
	color: #7542aa;
}
.advantages-w3l {
    padding: 5em 0;
	background: #FFF8F8;
}
.service-w3ls {
    padding: 5em 0;
}
.ser-grids {
    margin-top: 4em;
}
.advantages-grids {
    margin-top: 4em;
}
/*-- //services --*/
/*-- gallery --*/
.agileinfo-gal {
    padding: 5em 0;
}
.agileits_portfolio_grids{
	margin:3em 0 0;
}
.agileinfo_portfolio_grid{
	margin-top:2em;
}
.hovereffect {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
        border: lightslategrey solid 6px;
}
.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}
.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.hovereffect:hover img {
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
  -moz-filter: brightness(0.6);
  -o-filter: brightness(0.6);
  -ms-filter: brightness(0.6);
}
.hovereffect h4 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-weight: 600;
    font-size: 1.2em;
    letter-spacing: 2px;
    background-color: transparent;
    color: #fff;
    padding: 1.6em 0 0.5em;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
}
.hovereffect p{
	color: #FFF;
    line-height: 1.8em;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}
.hovereffect:hover p, .hovereffect:hover h4 {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
/*-- //gallery --*/
/*-- icons --*/
.codes a {
    color: #999;
}
.icon-box {
    padding: 8px 15px;
    background:rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
} 
.icon-box:hover {
    background: #000;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.icon-box:hover i.fa {
	color:#fff !important;
}
.icon-box:hover a.agile-icon {
	color:#fff !important;
}
.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px; 
    line-height: 1.4;
    text-align: center;  
    font-size: 12px;
    list-style-type: none;	
}
.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
h3.icon-subheading {
    font-size: 28px;
    color: #7542aa !important;
    margin: 30px 0 15px;
    font-weight: 600;
    letter-spacing: 2px;
}
h3.agileits-icons-title {
    text-align: center;
    font-size: 33px;
    color: #222222;
    font-weight: 600;
    letter-spacing: 2px;
}
.icons a {
    color: #999;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background:rgba(149, 149, 149, 0.18);
    margin: 1%;
}
.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
	color: #282a2b;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
@media (max-width:991px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
}
@media (max-width:768px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 25px;
	}
	.row {
		margin-right: 0;
		margin-left: 0;
	}
	.icon-box {
		margin: 0;
	}
}
@media (max-width: 640px){
	.icon-box {
		float: left;
		width: 50%;
	}
}
@media (max-width: 480px){
	.bs-glyphicons li {
		width: 31%;
	}
}
@media (max-width: 414px){
	h3.agileits-icons-title {
		font-size: 23px;
	}
	h3.icon-subheading {
		font-size: 18px;
	}
	.bs-glyphicons li {
		width: 31.33%;
	}
}
@media (max-width: 384px){
	.icon-box {
		float: none;
		width: 100%;
	}
}
/*-- //icons --*/
.w3_wthree_agileits_icons.main-grid-border {
    padding: 5em 0;
}
/*--Typography--*/
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
	color: #999;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
.label {
	font-weight: 300 !important;
	border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
    margin-bottom: 1em;
    color: #7542aa;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 2px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 0;
}
.badge-primary {
	background-color: #03a9f4;
}
.badge-success {
	background-color: #8bc34a;
}
.badge-warning {
	background-color: #ffc107;
}
.badge-danger {
	background-color: #e51c23;
}
.grid_3 p{
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
}
.bs-docs-example {
	margin: 1em 0;
}
section#tables  p {
	margin-top: 1em;
}
.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	font-size: 0.9em;
	color: #999;
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.label {
	font-weight: 300 !important;
}
.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}
.alert {
	font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:2em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
	line-height: 2.5em;
}
.input-group {
	margin-bottom: 20px;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
	margin-bottom: 48px;
}
ol {
	margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
.grid_5 {
	padding: 0 0 1em;
}
.grid_3 {
	margin-bottom: 0em;
}
}
@media (max-width:640px){
h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	margin-bottom: .5em;
}
.progress {
	height: 10px;
	margin-bottom: 10px;
}
ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
	font-size: 14px;
}
.breadcrumb {
	margin-bottom: 25px;
}
.well {
	font-size: 14px;
	margin-bottom: 10px;
}
h2.typoh2 {
	font-size: 1.5em;
}
.label {
	font-size: 60%;
}
.in-gp-tl {
	padding: 0 1em;
}
.in-gp-tb {
	padding-right: 1em;
}
}
@media (max-width:480px){
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	font-size: 1.2em;
}
.table h1 {
	font-size: 26px;
}
.table h2 {
	font-size: 23px;
	}
.table h3 {
	font-size: 20px;
}
.label {
	font-size: 53%;
}
.alert,p {
	font-size: 14px;
}
.pagination {
	margin: 20px 0 0px;
}
.grid_3.grid_4.w3layouts {
	margin-top: 25px;
}
}
@media (max-width: 320px){
.grid_4 {
	margin-top: 18px;
}
h3.title {
	font-size: 1.6em;
}
.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
	font-size: 13px;
}
.alert {
	padding: 10px;
	margin-bottom: 10px;
}
ul.pagination li a {
	font-size: 14px;
	padding: 5px 11px;
}
.list-group {
	margin-bottom: 10px;
}
.well {
	padding: 10px;
}
.nav > li > a {
	font-size: 14px;
}
table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
}
}
/*-- //typography --*/
.typo {
    padding: 5em 0;
}
.about_page {
    padding: 5em 0;
}
.about_img {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.about-poleft img {
    width: 100%;
    height: auto;
}
.about_img h5 {
    position: absolute;
    height: 70px;
    line-height: 70px;
    bottom: 0%;
    left: 0;
    opacity: 1;
    width: 100%;
    color: #fff;
    background:#7542aa;
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: 0.35s all ease;
    transition: 0.35s all ease;
    text-align: center;
    font-size: 29px;
	letter-spacing:2px;
}
.about_img img + h5 {
    margin-top: 0;
}
.about_opa {
    color: #fff;
    padding: 50px 50px 0;
    opacity: 0;
    background: rgba(51, 51, 51, 0.8);
    position: absolute;
    left: 0;
    top: 100%;
    right: 0;
    bottom: 0;
    -webkit-transition: 0.35s all ease;
    transition: 0.35s all ease;
}
.about_img:hover .about_opa {
    opacity: 1;
    top: 70px;
}
.about_img:hover h5 {
    top: 0;
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background: #7542aa;
}
.about_opa p {
    line-height: 2.2em;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}
.team-page {
    padding: 5em 0;
    background: #f7f7f7;
}
.easy-left img{
	width:100%;
}
.easy-left {
    padding-left: 0;
}
.hor_1 h4{
	font-size:30px;
    color: #f74f08;
	margin-bottom:30px;
}
.easy-right ul li a {
    color: #777;
    text-decoration:none;
}
.easy-right ul li  {
    color: #777;
    font-size: 15px;
	list-style-type:none;
	line-height:2.5em;
	text-align:justify;
}
.easy-right ul li a span {
    color: #7542aa;
    font-size: 11px;
    margin-right: 15px;
    top: 0px;
}
.hor_1 p{
	font-size:15px;
	color:#777;
	line-height:2.2em;
	margin-top:30px;
}
/*-- about --*/
.w3l-social {
    margin: 0;
    float: left;
}
.w3ls-in-ab {
    margin-top: 4em;
}
.wthree-team {
    margin-top: 4em;
}
.easy-right p {
    font-size: 15px;
    line-height: 26px;
    color: #777;
    margin-top: 20px;
}
.agile-social ul{
	padding:0;
	margin:0;
}
.agile-social ul li{
	display:inline-block;
}
.agile-social ul li a {
	color: #333;
    text-align: center;
}
.agile-social ul li a i.fa.fa-facebook{
	height: 40px;
    width: 40px;
    background: #FFFFFF;
    line-height: 40px;
    color: #3b5998;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agile-social ul li a i.fa.fa-facebook:hover {
    height: 40px;
    width: 40px;
    line-height: 40px;
	background: #3b5998;
	color: #FFFFFF;
}
.agile-social ul li a i.fa.fa-twitter{
	height: 40px;
    width: 40px;
    background: #FFFFFF;
    line-height: 40px;
    color: #1da1f2;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agile-social ul li a i.fa.fa-twitter:hover{
    height: 40px;
    width: 40px;
    line-height: 40px;
	background: #1da1f2;
	color: #FFFFFF;
}
.agile-social ul li a i.fa.fa-rss{
	height: 40px;
    width: 40px;
    background: #FFFFFF;
    line-height: 40px;
    color: #f26522;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;	
}
.agile-social ul li a i.fa.fa-rss:hover{
    height: 40px;
    width: 40px;
    line-height: 40px;
	background: #f26522;
	color: #FFFFFF;
}
.agile-social {
    text-align: center;
}
/*-- start-responsive-design --*/
@media (max-width:1440px){
}
@media (max-width:1366px){
}
@media (max-width:1280px){
}
@media (max-width:1080px){
.hovereffect h4 {
    padding: 0.6em 0 0.5em;
}
.w3l-ban {
    width: 20%;
}
.agile_banner_info h3 {
    font-size: 50PX;
}
.agile_banner_info {
    margin: 6em 0 0em;
}
.banner {
    min-height: 720px;
}
.become-agile-right {
    padding: 0 1em;
}
.nav-tabs {
    width: 55%;
}
}
@media (max-width:991px){
.mail_grid1_left1 {
    margin-bottom: 2em;
}
.agileinfo_footer_grid {
    margin-bottom: 2em;
}
.agileinfo_footer_grid h3 {
    margin-bottom: 1em;
}
.feature-grid {
    float: left;
    width: 33.33%;
}
.ser-img img {
    width: 100%;
}
.advantages-grid {
    margin-top: 2em;
}
.agileits_portfolio_grid {
    float: left;
    width: 50%;
}
.hovereffect h4 {
    padding: 2.6em 0 0.5em;
}
.easy-right {
    margin-top: 2em;
}
.about-poleft {
    float: left;
    width: 33.33%;
}
.about_opa {
    padding: 30px 10px 0;
}
.agile_banner_info h3 {
    font-size: 36PX;
    line-height: 49px;
}
.w3l-ban {
    width: 24%;
}
.w3l-ban h2 {
    font-size: 30px;
    line-height: 35px;
}
.agile_banner_info {
    margin: 5em 0 0em;
}
.banner {
    min-height: 640px;
}
.become-agile-left img {
    width: 100%;
}
.become-agile-right {
    margin-top: 2em;
}
.insights-bottom-left {
    float: left;
    width: 33.33%;
}
.insights-bottom-middle{
    float: left;
    width: 33.33%;
}
.insights-bottom-right{
    float: left;
    width: 33.33%;
}
.list-left.text-center {
    float: left;
    width: 33.33%;
}
.nav-tabs {
    width: 69%;
}
.w3agile_tab_right.w3agile_tab_right1 img {
    width: 100%;
}
}
@media (max-width: 800px){
}
@media (max-width: 768px){
.banner1 {
    min-height: 270px;
}
.mail {
    padding: 3em 0;
}
.agile_mail_grid {
    width: 100%;
}
.footer {
    padding: 3em 0 1em;
}
.w3_wthree_agileits_icons.main-grid-border {
    padding: 3em 0;
}
.typo {
    padding: 3em 0;
}
.feature-w3l {
    padding: 3em 0;
}
.advantages-w3l {
    padding: 3em 0;
}
.service-w3ls {
    padding: 3em 0;
}
.ser-grids {
    margin-top: 3em;
}
.ser-grid {
    float: left;
    width: 33.33%;
}
.agileinfo-gal {
    padding: 3em 0;
}
.agileits_portfolio_grids {
    margin: 2em 0 0;
}
.team-page {
    padding: 3em 0;
}
.wthree-team {
    margin-top: 3em;
}
.about_page {
    padding: 3em 0;
}
.w3ls-in-ab {
    margin-top: 3em;
}
.become-agile {
    padding: 3em 0;
}
.insights {
    padding: 3em 0;
}
.agile {
    padding: 50px 0;
}
.features {
    padding: 3em 0;
}
}
@media (max-width: 767px){
.ban-top {
    margin-top: 0px;
}
.banner1 {
    min-height: 230px;
}
.feature-grids {
    margin-top: 3em;
}
.advantages-grids {
    margin-top: 3em;
}
}
@media (max-width: 736px){
.ser-grid ul li {
    font-size: 14px;
}
.agile_banner_info {
    margin: 3em 0 0em;
}
.agile_banner_info h3 {
    font-size: 30PX;
    line-height: 38px;
}
.w3l-ban h2 {
    font-size: 24px;
    line-height: 28px;
}
.w3l-ban {
    width: 20%;
	padding: 20px;
}
.banner {
    min-height: 480px;
}
.nav-tabs {
    width: 74%;
}
.insights-wthree-left {
    min-height: 290px;
}
}
@media (max-width: 667px){
.about_img h5 {
    height: 55px;
    line-height: 55px;
    font-size: 24px;
}
.about_img:hover .about_opa {
    top: 55px;
}
.w3l-ban {
    width: 23%;
}
.nav-tabs {
    width: 83%;
}
}
@media (max-width: 640px){
.w3l_head {
   font-size: 36px;
}
.feature-grid {
    width: 100%;
    margin-bottom: 2em;
}
.feature-w3l {
    padding: 3em 0 1em;
}
.advantages-w3l {
    padding: 3em 0 1em;
}
.hovereffect h4 {
    padding: 1.6em 0 0.5em;
}
.agile_banner_info h3 {
    margin-bottom: 15px;
}
.agile_banner_info {
    width: 85%;
}
.w3l-ban {
    width: 24%;
}
.banner {
    min-height: 460px;
}
.become-agile h3 {
    font-size: 30px;
}
.insights h3 {
    font-size: 36px;
    margin-bottom: 30px;
}
}
@media (max-width: 600px){
.about_img h5 {
    height:40px;
    line-height: 40px;
}
.about_img:hover .about_opa {
    top: 40px;
}
.agile_banner_info h3 {
    font-size: 26PX;
    line-height: 34px;
}
.agile_banner_info {
    margin: 1em 0 0em;
}
.w3l-ban h2 {
    font-size: 22px;
}
.banner {
    min-height: 430px;
}
.nav-tabs {
    width: 94%;
}
}
@media (max-width: 568px){
.about_opa {
    padding: 18px 5px 0;
}
.w3l-ban {
    width: 25%;
}
}
@media (max-width: 480px){
.right-grid p {
    font-size: 14px;
}
.right-grid {
    width: 81%;
}
.left-grid {
    width: 17%;
}
.hovereffect h4 {
    padding: 0.6em 0 0.5em;
}
.hovereffect .overlay {
    width: 83%;
}
.about-poleft {
    width: 100%;
    margin-bottom: 2em;
}
.about_opa {
    padding: 120px 5px 0;
}
.w3_agile_logo h1 a {
    font-size: 1em;
    letter-spacing: 2px;
}
.w3_agileits_social_media {
    margin: 0.5em 0 0;
}
.w3l-ban {
    width: 30%;
}
.banner {
    min-height: 400px;
}
.wthree-left_info {
    padding: 3em 3em;
}
.insights-bottom-left {
    width: 100%;
}
.insights-bottom-middle{
    width: 100%;
	margin:2em 0;
}
.insights-bottom-right{
    width: 100%;
}
.list-left.text-center {
    width: 100%;
    margin-bottom: 2em;
}
.nav-tabs {
    width: 100%;
}
.nav-tabs > li > a {
    margin-right: 0px;
}
}
@media (max-width: 414px){
.w3_agile_logo h1 a {
    font-size: 1em;
    letter-spacing: 2px;
}
.w3_agileits_social_media ul li {
    margin: 0 0.3em;
}
.w3_agileits_social_media {
    margin: 0.4em 0 0;
}
.banner1 {
    min-height: 190px;
}
.w3_map iframe {
    min-height: 250px;
}
.agile_mail_grids {
    margin: 2em 0;
}
.agile_mail_grid input[type="submit"] {
    width: 50%;
    margin: 1em 0 0 11em;
}
.left-grid p {
    width: 50px;
    height: 50px;
    padding-top: 6px;
}
.ser-grid {
    float: left;
    width: 100%;
    margin-bottom: 1.5em;
}
.service-w3ls {
    padding: 3em 0 1em;
}
.agileits_portfolio_grid {
    width: 100%;
}
.hovereffect h4 {
    padding: 2.6em 0 0.5em;
}
.about_opa {
    padding: 70px 5px 0;
}
.agile_banner_info h3 {
    font-size: 20PX;
    line-height: 29px;
}
.agileits_w3layouts_more a {
    font-size: 13px;
    padding: 8px 21px;
}
.w3l-ban {
    width: 33%;
}
.w3l-ban h2 {
    font-size: 20px;
}
.banner {
    min-height: 375px;
}
.wthree-left_info h5 {
    font-size: 30px;
}
.wthree-left_info {
    padding: 3em 2em;
}
.insights-wthree-left {
    min-height: 230px;
}
.features.nav > li > a {
    padding: 10px 7px;
}
}
@media (max-width: 384px){
.agile_mail_grid input[type="submit"] {
    margin: 1em 0 0 10em;
}
.agile_mail_grid textarea {
    width: 91.5% !important;
}
.agile_banner_info {
    width: 100%;
}
.w3l-ban {
    width: 37%;
}
.wthree-left_info {
    padding: 3em 1em;
}
}
@media (max-width: 375px){
.agileinfo_share {
    margin-right: 0em !important;
}
}
@media (max-width: 320px){
.w3_agileits_social_media ul li {
    margin: 0 0.1em;
    font-size: 13px;
}
.w3_agile_logo h1 a {
    font-size: 0.875em;
    letter-spacing: 1px;
}
.banner, .banner1 {
    padding: 1em 0 0;
}
.banner1 {
    min-height: 150px;
}
.w3l_head {
    font-size: 32px;
}
.mail {
    padding: 2em 0 0;
}
.agile_mail_grid_left {
    padding: 0;
}
.agile_mail_grid textarea {
    width: 100% !important;
	margin: 0 0em;
    min-height: 180px;
}
.agile_mail_grid input[type="submit"] {
    margin: 1em 0 0 9.4em;
	font-size: 0.9em;
}
.agile_mail_grid1_left {
    padding: 0;
}
.w3_wthree_agileits_icons.main-grid-border {
    padding: 2em 0;
}
.agileinfo_footer_grid {
    padding: 0;
}
.footer {
    padding: 2em 0 0em;
}
.typo {
    padding: 2em 0;
}
.feature-w3l {
    padding: 2em 0 1em;
}
.feature-grids {
    margin-top: 2em;
}
.feature-grid {
    padding: 0;
}
.advantages-grids {
    margin-top: 2em;
}
.advantages-grid {
    padding: 0;
}
.right-grid {
    width: 77%;
}
.left-grid {
    width: 21%;
}
.advantages-grid h4 {
    font-size: 22px;
}
.right-grid p {
    font-size: 13px;
}
.care:nth-child(2) {
    margin: 2em 0;
}
.service-w3ls {
    padding: 2em 0 1em;
}
.ser-grid {
    padding: 0;
}
.ser-grids {
    margin-top: 2em;
}
.agileinfo-gal {
    padding: 2em 0;
}
.agileits_portfolio_grids {
    margin: 0em 0 0;
}
.agileits_portfolio_grid {
    padding: 0;
}
.hovereffect h4 {
    padding: 2em 0 0.5em;
}
.about_page {
    padding: 2em 0;
}
.w3ls-in-ab {
    margin-top: 2em;
}
.easy-left {
    padding: 0;
}
.easy-right {
    padding: 0;
}
.team-page {
    padding: 2em 0;
}
.about-poleft {
    padding: 0;
}
.about_opa {
    padding: 50px 5px 0;
}
.team-page {
    padding: 2em 0 1em;
}
.wthree-team {
    margin-top: 2em;
}
.agile_banner_info h3 {
    font-size: 18PX;
    line-height: 25px;
	letter-spacing: 2px;
}
.w3l-ban h2 {
    font-size: 18px;
	line-height:21px;
}
.w3l-ban {
    width: 39%;
	padding:15px;
}
.banner {
    min-height: 350px;
}
.become-agile-left {
    padding: 0;
}
.become-agile-right {
    margin-top: 2em;
    padding: 0;
}
.become-agile h3 {
    font-size: 25px;
}
.become-agile p {
    font-size: 14px;
}
.become-agile {
    padding: 2em 0;
}
.insights {
    padding: 2em 0;
}
.insights h3 {
    font-size: 27px;
    margin-bottom: 24px;
}
.wthree-left_info {
    padding: 2em 0em;
}
.wthree-left_info p {
    font-size: 14px;
}
.wthree-left_info h5 {
    font-size: 26px;
}
.insights-wthree-left {
    min-height: 208px;
}
.insights-wthree-right {
    padding: 20px 20px;
}
ul.insi li {
    font-size: 14px;
}
.insights-bottom p {
    font-size: 14px;
}
.agile {
    padding: 34px 0;
}
.list-left.text-center {
    padding: 0;
}
.list-left p {
    line-height: 26px;
}
.features {
    padding: 2em 0;
}
.features h3 {
    font-size: 30px;
	    margin-bottom: 28px;
}
.bs-example {
    margin: 2em 0 0;
}
.w3agile_tabs {
    margin: 2em 0 0;
}
.w3agile_tab_left {
    padding: 0;
}
.w3agile_tab_right1 {
    padding: 0;
}
}